1. Morning Motivation Email.json
{
  "name": "Morning Motivation Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 45
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -656,
        -160
      ],
      "id": "96195910-2a6b-4141-9909-26b5662c2d65",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    weekday: new Date().toLocaleDateString('en-US', {\n      weekday: 'long',\n    }),\n    date: new Date().toLocaleDateString('en-US', {\n      weekday: 'long',\n      year: 'numeric',\n      month: 'long',\n      day: 'numeric',\n    }),\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -160
      ],
      "id": "b1155584-be98-45a4-8c36-af8646dc3c51",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1gimepR4xc2u5FroWezPHSAHbvXmKaq_gywWuP0OwF9E",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Employees",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -272,
        -160
      ],
      "id": "2187bf7f-f890-4dd6-b50a-f6a5b31403b0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "RSZuegAfzhDXgcxA",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -80,
        -160
      ],
      "id": "dcc194c0-ad06-40fd-b101-1168da1d565f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ce45cd9-c519-42e7-800f-993eabc434c4",
              "name": "to",
              "value": "={{$json[\"Email\"]}}",
              "type": "string"
            },
            {
              "id": "615d4033-8337-46a6-ad67-6fc6b0dd1c32",
              "name": "subject",
              "value": "\"Daily Motivation\"",
              "type": "string"
            },
            {
              "id": "2b031cfa-c26b-4edf-9f1b-6feea4b4e91c",
              "name": "text",
              "value": "=Good morning, {{$json[\"Name\"]}}! Today is {{$node[\"Code in JavaScript\"].json[\"date\"]}} — A fresh opportunity to make meaningful progress. May your efforts be guided by clarity, purpose, and barakah. Stay focused, stay positive, and remember that consistency builds excellence.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -144
      ],
      "id": "b1c844ed-2bd0-4b0d-b387-8ef3578d07ec",
      "name": "Edit Fields-Message"
    },
    {
      "parameters": {
        "sendTo": "={{$json[\"to\"]}}",
        "subject": "={{$json[\"subject\"]}}",
        "emailType": "text",
        "message": "={{$json[\"text\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        368,
        -144
      ],
      "id": "62c9766d-f8b6-49b7-8cac-c36882ad6a61",
      "name": "Send a message",
      "webhookId": "73fcf48f-2679-44a4-8043-1b4b35d9a599",
      "credentials": {
        "gmailOAuth2": {
          "id": "vhT9ehuh2Ud6rWP2",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields-Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields-Message": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "60aec24b-28aa-490a-8a6f-9c6946553a52",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "128d018963dce6617614c3ba1702830deb3004f8e5fa96c74fb108631fe29d88"
  },
  "id": "SPWbqVGwqQUnmzHM",
  "tags": []
}