Evening Gratitude Email.json
{
  "name": "Evening Gratitude Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -656,
        -160
      ],
      "id": "8bb6fb01-ff00-45f1-b46a-da0a77e0ff75",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    weekday: new Date().toLocaleDateString('en-US', {\n      weekday: 'long',\n    }),\n    date: new Date().toLocaleDateString('en-US', {\n      weekday: 'long',\n      year: 'numeric',\n      month: 'long',\n      day: 'numeric',\n    }),\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -160
      ],
      "id": "9019a6fe-065a-47d0-a6b9-de9ecf5011c0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1gimepR4xc2u5FroWezPHSAHbvXmKaq_gywWuP0OwF9E",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Employees",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -272,
        -160
      ],
      "id": "9fb6289f-8472-49eb-9d24-219ba6ff48ba",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "RSZuegAfzhDXgcxA",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -80,
        -160
      ],
      "id": "ae38b378-e161-4808-9781-2ec3d2483abc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ce45cd9-c519-42e7-800f-993eabc434c4",
              "name": "to",
              "value": "={{$json[\"Email\"]}}",
              "type": "string"
            },
            {
              "id": "615d4033-8337-46a6-ad67-6fc6b0dd1c32",
              "name": "subject",
              "value": "\"Evening Reflection & Gratitude\"",
              "type": "string"
            },
            {
              "id": "2b031cfa-c26b-4edf-9f1b-6feea4b4e91c",
              "name": "text",
              "value": "=Assalamu Alaikum, {{$json[\"Name\"]}}! As the day winds down on {{$node[\"Code in JavaScript\"].json[\"date\"]}}, take a moment to reflect on the blessings you've experienced. Alhamdulillah for every opportunity, every challenge, and every moment of growth. May your evening be peaceful, your heart content, and your intentions renewed for tomorrow.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -144
      ],
      "id": "16d63070-d2cf-46f6-bf2b-6f740da2c70d",
      "name": "Edit Fields-Message"
    },
    {
      "parameters": {
        "sendTo": "={{$json[\"to\"]}}",
        "subject": "={{$json[\"subject\"]}}",
        "emailType": "text",
        "message": "={{$json[\"text\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        368,
        -144
      ],
      "id": "123c78fd-8b3c-4d28-8ade-b107f5f9e511",
      "name": "Send a message",
      "webhookId": "f672b448-e95d-4427-950b-5d6035d55e12",
      "credentials": {
        "gmailOAuth2": {
          "id": "vhT9ehuh2Ud6rWP2",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields-Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields-Message": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "386aa50f-a75e-4eaf-a6a3-621c5d13fe15",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "128d018963dce6617614c3ba1702830deb3004f8e5fa96c74fb108631fe29d88"
  },
  "id": "Nlc1uA3YrAg5rJqR",
  "tags": []
}